.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.post__header {
  display: flex;
  margin-bottom: 10px;
}
.post__info {
  margin-left: 10px;
}
.post__info > h2 {
  font-size: 15px;
}
.post__info > p {
  color: gray;
  font-size: 12px;
}
.post__body {
  overflow-wrap: anywhere;

}
.post__counter{
  margin-top:10px;
  display:flex;
  object-fit:contain;
 border-bottom:1px solid lightgray;

}
.post__counter >img{
   margin-right:4px;
  

}
.post__counter .likes{
   margin-left:4px;
  

}


.post__buttons {
  display: flex;
  justify-content: space-evenly;
}
